body{
    background-color: ivory;
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
h1,h2,h3{
    text-align: center;
    padding:20px;
}
header{
    background-color: rgb(255, 224, 240);
    display: flex;
    height:100px;
    align-items: center;
}
.name{
width: 40%;
padding-left: 5%;
}
.name a{
    font-size: 40px;
    text-decoration: none;
}
.name a:hover{
    color:blueviolet;
}
nav{
width: 60%;
text-align: end;
padding-right: 5%;
font-size: 20px;
}
nav ul li{
    display: inline-block;
    padding: 3px;
}
nav a{
    
    text-decoration: underline transparent;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
    transition: text-decoration 0.6s ease;
   
    
}
nav a:hover{
    color:blueviolet;
    transition: color 0.6s ease;
    text-decoration-color: blueviolet;
   
}
nav a:focus {
    background-color: rgb(245, 204, 222);
    outline:1px solid rgb(233, 122, 140);
  }

  main p{
    text-align: center;
  }

  .main_images img{
    padding:3px;
    margin:2px;
    border:3px solid ivory;
    box-sizing: border-box;
    max-width: 100%;
    vertical-align: middle;
    height: auto;
    

}



.main_images{
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 70px;
    width: 100%;
    justify-content:center;
    display: flex;
    flex-wrap: wrap;
}

article{
    padding:20px;
}
section p{
    text-align: center;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

section img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
   
}
footer{
    background-color: rgb(255, 224, 240);
   
}


.nav_footer{
   
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    }
    .nav_footer ul li{
        display: inline-block;
        padding: 3px;
        
    }

    .nav_footer ul{
        
        padding:0;
    }
    .nav_footer a{
        text-decoration: none;
    }
    .nav_footer a:hover{
        color:blueviolet;
    }
    .nav_footer a:focus {
        background-color: rgb(245, 204, 222);
        
      }
    




/* Style all font awesome icons */

.social_icons{
    
    text-align: center;
    padding-bottom: 40px;
}
.fa {
    padding: 30px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-decoration: none;
    font-size: 50px!important;
    margin:10px;
  }
  
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Icons */
  .fa-facebook, .fa-instagram,.fa-github{
    background: #2f074b;
    color: white;
    
  }




/* Style inputs with type="text", select elements and textareas */
input[type=text],input[type=email], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #aa0478;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #f19fe0;
  }
  
  /* Add a background color and some padding around the form */
  .contactform {
    border-radius: 5px;
    background-color: rgb(255, 224, 240);
    padding: 20px;
    width: 40%;
    margin:auto;
    margin-bottom: 50px;
  }


  

  
  
 



  @media(max-width:768px){

  }


           

          
 